html {
	overflow-y: hidden;
}
#formInput {
	max-width: 700px;
}
.center {
	margin-left: 380px;
	margin-top: 50px;
}
.selectInput {
	max-width: 100px;
}
body {
	background-image: url('../img/background-image.png');
}
form {
	color: white;
}
.imgC {
	width: 1400px;
	height: 700px;
}